.el-date-editor .el-range-input {
	width: 50% !important;
}

.el-date-editor>.el-range__icon,
.el-date-editor .el-range-separator,
.el-date-editor .el-range__close-icon {
	line-height: 21px !important;
}

.el-date-editor--datetimerange.el-input__inner{
    width: 350px !important;
}
.el-date-editor--daterange.el-input__inner {
    width: 300px !important;
}

.el-input__inner {
	border: 1px solid #015758 !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.el-pagination button:disabled,
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li {
	background-color: rgba(0, 0, 0, 0) !important;
}

.el-icon-arrow-left:before,
.el-icon-arrow-right:before {
	color: #00fcff !important;
}

.el-pager li {
	color: #017576 !important;
	font-size: 16px !important;
}

.el-pager li.active {
	color: #06fafd !important;
}

.el-pagination__total,
.el-pagination .el-select .el-input .el-input__inner,
.el-icon-arrow-up:before,
.el-select-dropdown__item.selected,
.el-pagination__jump,
.el-pagination__editor.el-input .el-input__inner {
	color: #02d0d3 !important;
}

.el-pagination {
	width: 660px;
	margin: 0 auto;
	margin-top: 5px;
}

::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px (200, 203, 206, 0.5) inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px rgba(200, 203, 206, 0.5) inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/* 导航栏 */
.el-range-editor.el-input__inner {
	width: 100%;
	height: 100%;
	background-color: white !important;
}

.el-date-editor .el-range-input {
	width: 50% !important;
}

.el-submenu__title,.el-menu-vertical-demo{
	background-color: rgba(0,0,0,0) !important;
}
.el-menu .el-menu--inline,.el-menu-item{
	background-color: rgba(19,30,56,0.2) !important;
}
.el-menu-item-group__title{
	padding: 0;
}
.el-menu-item:hover{
	background-color: rgba(0,252,255,0.4) !important;
}
.el-menu{
	border: none;
}
.el-submenu__title span{
	font-size: 18px !important;
}
.el-menu-item{
	font-size: 16px !important;
}

/* 相似度滑块 */
.el-slider__runway{
    margin: 10px 0;
}

/*滑动条新增*/
.el-slider__bar{
	background-color: #00fcff !important;
}

.el-slider__button{
	border-radius: 0px !important;
	border: 3px solid #00fcff !important;
	/*background-color: #000000 !important;*/
	background-color: #0068b7 !important;
	transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) !important;
	-webkit-transform: rotate(45deg) !important;
}
.el-slider__button:hover,.el-slider__button-wrapper:hover,.el-slider__button.dragging{
	border-radius:25px !important;
}


.el-color-dropdown{
	z-index: 9999 !important;
}
.el-color-picker{
	width: 100% !important;
	height: 100% !important;
}
.el-color-picker__trigger,.el-color-picker__color{
	border: 0px solid #e6e6e6 !important;
	padding: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
.el-color-picker__color-inner{
	/*background-color: red !important;*/
	border: none !important;
}
